:root {
  font-size: 16px;
  --monospace: 'Montserrat', Monaco, monospace;
  --light-purple: #791f87;
  --dark-purple: #55165e;
  --light-green: #7a871f;
  --dark-green: #565e16;
  --cotton-candy: #f9ceff;
}

body {
  background-color: var(--dark-purple);
  color: var(--cotton-candy);
  font-size: 1rem;
}

h1 {
  font-size: 3em;
  font-family: var(--monospace);
}
p {font-size: 1.5em;}

.hidden {
  display: none !important;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.btn {
  margin-left: 2rem;
  font-family: var(--monospace);
}
.btn:first-child {
  margin-left: 0;
}
.btn:disabled {
  color: darkslategrey;
  background-color: grey;
  opacity: 0.5;
}
.btn:disabled:hover {
  color: darkslategrey;
  background-color: grey;
}
a.btn, button.btn {
  display: inline-block; /* necessary for the <a> */
  padding: 1rem;
  width: 120px;
  text-align: center;
  color: var(--cotton-candy);
}

a.btn             {background-color: var(--dark-green); text-decoration: none;}
a.btn:visited     {background-color: var(--dark-green);}
a.btn:hover       {background-color: var(--light-green);}
a.btn:active      {background-color: var(--light-green);}
button.btn        {background-color: var(--dark-green);}
button.btn:hover  {background-color: var(--light-green);}

.list-style-none {list-style: none;}

header.app-header.flex-container {
  align-items: center;
  justify-content: center;
}

header.app-header {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.js-question-feedback {
  min-height: 2rem;
  text-align: center;
}

.quiz-progress, .quiz-score {margin: auto;}

.quiz-score {
  padding: 0rem 0 3rem;
  text-align: center;
  font-size: 1.5em;
  font-family: var(--monospace);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-screen, .quiz-screen, .end-screen {
  padding: 0 2rem;
}

.start-screen iframe.giphy-embed {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.start-screen p, .end-screen p {
  margin: 3rem auto;
  text-align: center;
}

.quiz-screen fieldset {
  max-width: 600px;
  margin: 0 auto 2rem;
  padding: 1rem;
  background-color: rgba(0,0,0,0.3);
}

.quiz-screen fieldset > div {
  margin: 0.5rem;
}

.quiz-screen legend {
  text-align: center;
  font-family: var(--monospace);
}

.quiz-screen form label {
  font-size: 1.2rem;
}

/****************************************
FLEXBOX styles
****************************************/

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-item-1x {flex: 1;}
.flex-item-2x {flex: 2;}
.flex-item-3x {flex: 3;}
.flex-item-4x {flex: 4;}

/****************************************
Media Queries
****************************************/

@media all and (min-width: 768px) {
  .flex-container {
    flex-direction: row;
  }
}
